<template>
  <require from="./_layout"></require>
  <require from="./set-attribute"></require>
  <layout options.bind="options" label.bind="label" error.bind="error">
    <input type="text" value.bind="value" class="form-control" list.bind="id& setAttribute" />
    <datalist id.bind="id">
      <option value="Chrome"></option>
      <option value="Firefox"></option>
      <option value="Edge"></option>
      <option value="Internet Explorer"></option>
      <option value="Opera"></option>
      <option value="Safari"></option>
    </datalist>
  </layout>
</template>
