<template>
  <div class="row"> 
    <div class="col-md-12" >
    <div class="col-md-6">
      <h2 class="page-header">Backlogs</h2>
      <au-table view-model.ref="backlogTable" 
      data.bind="backlogLoader" columns.bind="backlogColumns" 
      sortable.bind="true" page-size="25"
      context.bind="backlogContextMenu" 
      context-click.delegate="__backlogContextMenuCallback($event)"
      row-click.delegate="__backlogRowClickCallback($event)">

        <button slot="toolbar" class="btn btn-success" click.delegate="__backlogCreateCallback()">Create new Backlog</button>
      </au-table>
      </div>

    <div class="col-md-6">
      <h2 class="page-header">Tasks</h2>
      <au-table 
        view-model.ref="taskTable" 
        data.bind="taskLoader" 
        columns.bind="taskColumns" 
        sortable.bind="true" 
        page-size="25"
        context.bind="taskContextMenu" 
        context-click.delegate="__taskContextMenuCallback($event)" 
        row-click.delegate="__taskRowClickCallback($event)">

        <button slot="toolbar" class="btn btn-success" click.delegate="__taskCreateCallback()">Create new Task</button>
      </au-table>
    </div>
    <div class="col-md-12">
      <h2 class="page-header">Assignments</h2>
      <au-table 
          view-model.ref="assignmentTable"
          data.bind="assignmentLoader" 
          columns.bind="assignmentColumns"
          sortable.bind="true" 
          page-size="25"
          context.bind="assignmentContextMenu" 
          context-click.delegate="__assignmentContextMenuCallback($event)" 
          row-click.delegate="__assignmentRowClickCallback($event)">
          <button slot="toolbar" class="btn btn-success" 
          click.delegate="__assignmentCreateCallback()">Create new Assignment</button>
      </au-table>
    </div>

    </div>
    
  </div>
</template>