<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><i class="fa fa-plush"></i> BACKLOG
                        <div class = "pull-right">
                            <button class="btn btn-primary" type="button" href="#" click.delegate="create()">
                        <i class="fa fa-plus fa 4x pull-right"> New Backlog</i>
                        </div>
                        </h3>
                        
                        
                    <!-- </a> -->
                    </button>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12" repeat.for="item of datas">
                                <div class="panel panel-primary">
                                     <div class="panel-heading">
                                        <i class="fa fa-bar-chart-o fa-fw"></i> ${item.name}
                                        <div class="pull-right">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn-xs dropdown-toggle">
                                                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div> 
                                    <!-- /.panel-heading -->
                                            <div class="col-xs-12">
                                    <div class="panel-body">
                                        <div class="row">
                                                <div>
                                                    <p>
                                                        <span>Date : ${item.date}</span> <br/ >
                                                        <span class="text-success">Status : ${item.status}</span>
                                                    </p>
                                                    <p>
                                                        <span>${item.progress} % Completed</span>
                                                        <span class="pull-right">${item.closedTask} / ${item.totalTask} Task</span>
                                                    </p>
                                                    <div class="progress progress-striped active">
                                                        <div class="progress-bar progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: ${item.progress}%">
                                                            <span class="sr-only">${item.progress}% Complete (success)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.panel-body -->
                                    <a href="" click.trigger="__viewTasks(item.id)" >
                                        <div class="panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                        <!-- /.panel-footer -->
                                    </a>
                                </div>
                            </div>
                            <!-- /.col-lg-4 -->  
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel .chat-panel -->
            </div>
                <!-- /.col-lg-4 -->            
            <div class="col-lg-4">
                <compose view-model="./tasks"  model.bind="tasks"></compose>
            </div>
                <!-- /.col-lg-8 -->
        </div>
            <!-- /.row -->

    </div>
</template>

