<template>
  <div class="panel panel-default">
    <div class="panel-heading">
      <button class="right" click.delegate="onadd($event)">Add</button>
    </div>
    <table class="table table-hover">
      <thead if.bind="headers && headers.length">
        <tr>
          <th repeat.for="header of headers">${header}</th>
        </tr>
      </thead>
      <tbody>
        <tr if.bind="!template" repeat.for="item of items">
          <td>${item}</td>
        </tr>
        <tr if.bind="template" repeat.for="item of items" as-element="compose" view="${template}.html" view-model="${template}" model.bind="item"></tr>
      </tbody>
    </table>
  </div>
</template>
